In [1]:
import pandas as pd

# Load dataset
df = pd.read_csv(r"D:\Data Science Projects\amazon_india_project\data\amazon_india_2015.csv")

# View first few rows
print(df.head())

# Check shape and column names
print(df.shape)
print(df.columns)

# Check data types
print(df.dtypes)

# Summary statistics
print(df.describe(include='all'))

# Missing values
# print(df.is().sum())
print(df.isna().sum())

      transaction_id  order_date         customer_id   product_id  \
0  TXN_2015_00000001  2015-01-25  CUST_2015_00003884  PROD_000021
1  TXN_2015_00000002  2015-01-05  CUST_2015_00011709  PROD_000055
2  TXN_2015_00000003  2015-01-24  CUST_2015_00004782  PROD_000039
3  TXN_2015_00000004  2015-01-28  CUST_2015_00008105  PROD_000085
4  TXN_2015_00000005  2015-01-31  CUST_2015_00002955  PROD_000055

                           product_name     category  subcategory     brand  \
0          Samsung Galaxy S6 16GB Black  Electronics  Smartphones   Samsung
1          OnePlus OnePlus 2 16GB White  Electronics  Smartphones   OnePlus
2      Samsung Galaxy Note 5 64GB Black  Electronics  Smartphones   Samsung
3  Motorola Moto G (3rd Gen) 16GB Black  Electronics  Smartphones  Motorola
4          OnePlus OnePlus 2 16GB White  Electronics  Smartphones   OnePlus

  original_price_inr  discount_percent  ...  is_festival_sale  \
0          123614.29             27.91  ...              True
1           54731.86              0.00  ...             False
2           97644.25             46.93  ...              True
3          21,947.26              0.00  ...             False
4           54731.86              0.00  ...             FALSE

       festival_name  customer_rating  return_status  order_month order_year  \
0  Republic Day Sale              5.0      Delivered            1       2015
1                NaN              4.5      Delivered            1       2015
2  Republic Day Sale              NaN      Delivered            1       2015
3                NaN              3.0      Delivered            1       2015
4                NaN              4.0      Delivered            1       2015

  order_quarter product_weight_kg is_prime_eligible product_rating
0             1              0.19              True            4.7
1             1              0.20              True            4.1
2             1              0.17              True            3.3
3             1              0.22              True            3.5
4             1              0.20              True            4.1

[5 rows x 34 columns]
(33165, 34)
Index(['transaction_id', 'order_date', 'customer_id', 'product_id',
       'product_name', 'category', 'subcategory', 'brand',
       'original_price_inr', 'discount_percent', 'discounted_price_inr',
       'quantity', 'subtotal_inr', 'delivery_charges', 'final_amount_inr',
       'customer_city', 'customer_state', 'customer_tier',
       'customer_spending_tier', 'customer_age_group', 'payment_method',
       'delivery_days', 'delivery_type', 'is_prime_member', 'is_festival_sale',
       'festival_name', 'customer_rating', 'return_status', 'order_month',
       'order_year', 'order_quarter', 'product_weight_kg', 'is_prime_eligible',
       'product_rating'],
      dtype='object')
transaction_id             object
order_date                 object
customer_id                object
product_id                 object
product_name               object
category                   object
subcategory                object
brand                      object
original_price_inr         object
discount_percent          float64
discounted_price_inr      float64
quantity                    int64
subtotal_inr              float64
delivery_charges          float64
final_amount_inr          float64
customer_city              object
customer_state             object
customer_tier              object
customer_spending_tier     object
customer_age_group         object
payment_method             object
delivery_days              object
delivery_type              object
is_prime_member            object
is_festival_sale           object
festival_name              object
customer_rating            object
return_status              object
order_month                 int64
order_year                  int64
order_quarter               int64
product_weight_kg         float64
is_prime_eligible          object
product_rating            float64
dtype: object
           transaction_id  order_date         customer_id   product_id  \
count               33165       33165               33165        33165
unique              33165        1272               11222          164
top     TXN_2015_00000001  2015-10-24  CUST_2015_00007845  PROD_001935
freq                    1         141                  12          448
mean                  NaN         NaN                 NaN          NaN
std                   NaN         NaN                 NaN          NaN
min                   NaN         NaN                 NaN          NaN
25%                   NaN         NaN                 NaN          NaN
50%                   NaN         NaN                 NaN          NaN
75%                   NaN         NaN                 NaN          NaN
max                   NaN         NaN                 NaN          NaN

               product_name     category  subcategory    brand  \
count                 33165        33165        33165    33165
unique                  164            5            6       24
top     Garmin Watch Deluxe  Electronics  Smartphones  Samsung
freq                    448        33085        20302     8257
mean                    NaN          NaN          NaN      NaN
std                     NaN          NaN          NaN      NaN
min                     NaN          NaN          NaN      NaN
25%                     NaN          NaN          NaN      NaN
50%                     NaN          NaN          NaN      NaN
75%                     NaN          NaN          NaN      NaN
max                     NaN          NaN          NaN      NaN

       original_price_inr  discount_percent  ...  is_festival_sale  \
count               33165      33165.000000  ...             33165
unique                811               NaN  ...                 8
top              45363.47               NaN  ...             False
freq                  409               NaN  ...             20559
mean                  NaN         17.759225  ...               NaN
std                   NaN         20.690008  ...               NaN
min                   NaN          0.000000  ...               NaN
25%                   NaN          0.000000  ...               NaN
50%                   NaN         11.210000  ...               NaN
75%                   NaN         28.790000  ...               NaN
max                   NaN         69.990000  ...               NaN

        festival_name  customer_rating  return_status   order_month  \
count           10584            23196          33165  33165.000000
unique              8               21              3           NaN
top       Diwali Sale              4.5      Delivered           NaN
freq             2717             7195          30029           NaN
mean              NaN              NaN            NaN      7.035399
std               NaN              NaN            NaN      3.495066
min               NaN              NaN            NaN      1.000000
25%               NaN              NaN            NaN      4.000000
50%               NaN              NaN            NaN      7.000000
75%               NaN              NaN            NaN     10.000000
max               NaN              NaN            NaN     12.000000

       order_year order_quarter product_weight_kg is_prime_eligible  \
count     33165.0  33165.000000      33165.000000             33165
unique        NaN           NaN               NaN                 8
top           NaN           NaN               NaN              True
freq          NaN           NaN               NaN             23403
mean       2015.0      2.681562          1.087242               NaN
std           0.0      1.135442          4.412278               NaN
min        2015.0      1.000000          0.030000               NaN
25%        2015.0      2.000000          0.170000               NaN
50%        2015.0      3.000000          0.210000               NaN
75%        2015.0      4.000000          0.330000               NaN
max        2015.0      4.000000         33.520000               NaN

       product_rating
count    33165.000000
unique            NaN
top               NaN
freq              NaN
mean         3.933858
std          0.462786
min          3.000000
25%          3.600000
50%          3.900000
75%          4.300000
max          4.800000

[11 rows x 34 columns]
transaction_id                0
order_date                    0
customer_id                   0
product_id                    0
product_name                  0
category                      0
subcategory                   0
brand                         0
original_price_inr            0
discount_percent              0
discounted_price_inr          0
quantity                      0
subtotal_inr                  0
delivery_charges           2654
final_amount_inr              0
customer_city                 0
customer_state                0
customer_tier                 0
customer_spending_tier        0
customer_age_group         3976
payment_method                0
delivery_days                 0
delivery_type                 0
is_prime_member               0
is_festival_sale              0
festival_name             22581
customer_rating            9969
return_status                 0
order_month                   0
order_year                    0
order_quarter                 0
product_weight_kg             0
is_prime_eligible             0
product_rating                0
dtype: int64

In [6]:
# Challenge 1 (Date Cleaning):
from datetime import datetime

def clean_dates(date_str):
  try:
      return pd.to_datetime(date_str, errors='coerce').strftime('%Y-%m-%d')
  except:
      return None

df['order_date'] = df['order_date'].apply(clean_dates)

C:\Users\Sarath-VIN1820\AppData\Local\Temp\ipykernel_18920\1428463932.py:6: UserWarning: Parsing dates in %d-%m-%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  return pd.to_datetime(date_str, errors='coerce').strftime('%Y-%m-%d')
C:\Users\Sarath-VIN1820\AppData\Local\Temp\ipykernel_18920\1428463932.py:6: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  return pd.to_datetime(date_str, errors='coerce').strftime('%Y-%m-%d')

In [7]:
from datetime import datetime
import pandas as pd

def clean_dates(date_str):
    try:
        return pd.to_datetime(date_str, errors='coerce').strftime('%Y-%m-%d')
    except:
        return None

df['order_date'] = df['order_date'].apply(clean_dates)

# Now save to a CSV file
df.to_csv('amazon_india_cleaned.csv', index=False)

In [5]:
# Load amazon_india_complete_2015_2025.csv into Pandas.
import pandas as pd

# Load the CSV file into a DataFrame
try:
    df = pd.read_csv(r'D:\Data Science Projects\amazon_india_project\data\amazon_india_complete_2015_2025.csv')
    print("DataFrame loaded successfully!")
except FileNotFoundError:
    print("Error: The file 'amazon_india_complete_2015_2025.csv' was not found. Please check the file path.")

# Check the shape of the DataFrame (rows, columns)
print("\nDataFrame Shape (Rows, Columns):")
print(df.shape)

# Check the column names
print("\nColumn Names:")
print(df.columns.tolist())

# Check the data types of each column
print("\nData Types:")
print(df.dtypes)

# Alternatively, use .info() for a concise summary, including non-null counts
print("\nDataFrame Info:")
df.info()

# Check for missing values
print("\nMissing Values per Column:")
print(df.isnull().sum())

# Check for duplicate rows
print("\nNumber of Duplicate Rows:")
print(df.duplicated().sum())

# Example for a categorical column (e.g., 'Category')
# Replace 'Category' with an actual column name from your dataset
if 'Category' in df.columns:
    print("\nInconsistencies in 'Category' column (top 20):")
    print(df['Category'].value_counts().head(20))

# Example for a numerical column (e.g., 'Price') to check for outliers
# Replace 'Price' with an actual numerical column name
if 'Price' in df.columns:
    print("\nDescriptive statistics for 'Price' column:")
    print(df['Price'].describe())

DataFrame loaded successfully!

DataFrame Shape (Rows, Columns):
(1127609, 34)

Column Names:
['transaction_id', 'order_date', 'customer_id', 'product_id', 'product_name', 'category', 'subcategory', 'brand', 'original_price_inr', 'discount_percent', 'discounted_price_inr', 'quantity', 'subtotal_inr', 'delivery_charges', 'final_amount_inr', 'customer_city', 'customer_state', 'customer_tier', 'customer_spending_tier', 'customer_age_group', 'payment_method', 'delivery_days', 'delivery_type', 'is_prime_member', 'is_festival_sale', 'festival_name', 'customer_rating', 'return_status', 'order_month', 'order_year', 'order_quarter', 'product_weight_kg', 'is_prime_eligible', 'product_rating']

Data Types:
transaction_id             object
order_date                 object
customer_id                object
product_id                 object
product_name               object
category                   object
subcategory                object
brand                      object
original_price_inr         object
discount_percent          float64
discounted_price_inr      float64
quantity                    int64
subtotal_inr              float64
delivery_charges          float64
final_amount_inr          float64
customer_city              object
customer_state             object
customer_tier              object
customer_spending_tier     object
customer_age_group         object
payment_method             object
delivery_days              object
delivery_type              object
is_prime_member            object
is_festival_sale           object
festival_name              object
customer_rating            object
return_status              object
order_month                 int64
order_year                  int64
order_quarter               int64
product_weight_kg         float64
is_prime_eligible          object
product_rating            float64
dtype: object

DataFrame Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1127609 entries, 0 to 1127608
Data columns (total 34 columns):
 #   Column                  Non-Null Count    Dtype
---  ------                  --------------    -----
 0   transaction_id          1127609 non-null  object
 1   order_date              1127609 non-null  object
 2   customer_id             1127609 non-null  object
 3   product_id              1127609 non-null  object
 4   product_name            1127609 non-null  object
 5   category                1127609 non-null  object
 6   subcategory             1127609 non-null  object
 7   brand                   1127609 non-null  object
 8   original_price_inr      1127609 non-null  object
 9   discount_percent        1127609 non-null  float64
 10  discounted_price_inr    1127609 non-null  float64
 11  quantity                1127609 non-null  int64
 12  subtotal_inr            1127609 non-null  float64
 13  delivery_charges        1037408 non-null  float64
 14  final_amount_inr        1127609 non-null  float64
 15  customer_city           1127609 non-null  object
 16  customer_state          1127609 non-null  object
 17  customer_tier           1127609 non-null  object
 18  customer_spending_tier  1127609 non-null  object
 19  customer_age_group      992294 non-null   object
 20  payment_method          1127609 non-null  object
 21  delivery_days           1127609 non-null  object
 22  delivery_type           1127609 non-null  object
 23  is_prime_member         1127609 non-null  object
 24  is_festival_sale        1127609 non-null  object
 25  festival_name           349873 non-null   object
 26  customer_rating         785913 non-null   object
 27  return_status           1127609 non-null  object
 28  order_month             1127609 non-null  int64
 29  order_year              1127609 non-null  int64
 30  order_quarter           1127609 non-null  int64
 31  product_weight_kg       1127609 non-null  float64
 32  is_prime_eligible       1127609 non-null  object
 33  product_rating          1127609 non-null  float64
dtypes: float64(7), int64(4), object(23)
memory usage: 292.5+ MB

Missing Values per Column:
transaction_id                 0
order_date                     0
customer_id                    0
product_id                     0
product_name                   0
category                       0
subcategory                    0
brand                          0
original_price_inr             0
discount_percent               0
discounted_price_inr           0
quantity                       0
subtotal_inr                   0
delivery_charges           90201
final_amount_inr               0
customer_city                  0
customer_state                 0
customer_tier                  0
customer_spending_tier         0
customer_age_group        135315
payment_method                 0
delivery_days                  0
delivery_type                  0
is_prime_member                0
is_festival_sale               0
festival_name             777736
customer_rating           341696
return_status                  0
order_month                    0
order_year                     0
order_quarter                  0
product_weight_kg              0
is_prime_eligible              0
product_rating                 0
dtype: int64

Number of Duplicate Rows:
0

In [1]:
import pandas as pd
import numpy as np

# Load the dataset. Replace with your actual file path if needed.
try:
    df = pd.read_csv(r'D:\Data Science Projects\amazon_india_project\data\amazon_india_complete_2015_2025.csv')
except FileNotFoundError:
    print("File not found. Please ensure 'amazon_india_complete_2015_2025.csv' is in the correct directory.")

# --- Perform a deep copy to avoid modifying the original DataFrame ---
df_clean = df.copy()

# ----------------------------------------
# Q1: Dates
# ----------------------------------------
# Assuming a column named 'Order Date' exists. Adjust the column name as needed.
date_col = 'Order Date'

if date_col in df_clean.columns:
    # Coerce errors to convert invalid dates to NaT (Not a Time)
    df_clean[date_col] = pd.to_datetime(df_clean[date_col], errors='coerce')
    
    # Drop rows where the date is invalid (NaT). You can also flag them instead.
    invalid_dates_count = df_clean[date_col].isnull().sum()
    if invalid_dates_count > 0:
        print(f"Warning: Dropping {invalid_dates_count} rows with invalid dates.")
        df_clean.dropna(subset=[date_col], inplace=True)
        
    # Convert to YYYY-MM-DD format. The format string '%Y-%m-%d' specifies this.
    df_clean[date_col] = df_clean[date_col].dt.strftime('%Y-%m-%d')
    
    print("Dates converted and invalid dates handled.")

# ----------------------------------------
# Q2: Prices
# ----------------------------------------
# Assuming a column named 'Price' exists. Adjust the column name.
price_col = 'Price'

if price_col in df_clean.columns:
    # First, convert the column to a string type for text manipulation.
    df_clean[price_col] = df_clean[price_col].astype(str)
    
    # Use .str.replace() with a regex pattern to remove '₹', ',' and any other non-numeric characters.
    # The regex `[^0-9.]` removes anything that is not a digit or a decimal point.
    df_clean[price_col] = df_clean[price_col].str.replace('₹', '', regex=False).str.replace(',', '', regex=False)
    
    # Then, use pd.to_numeric() to convert the cleaned strings to a numeric type.
    # 'coerce' will turn any remaining invalid values into NaN.
    df_clean[price_col] = pd.to_numeric(df_clean[price_col], errors='coerce')
    
    print("Prices cleaned and converted to numeric.")

# ----------------------------------------
# Q3: Ratings
# ----------------------------------------
# Assuming a column named 'Rating' exists. Adjust the column name.
ratings_col = 'Rating'

if ratings_col in df_clean.columns:
    # Clean the ratings column, assuming it has a format like '4.5 out of 5'.
    # This example removes the " out of 5" part and converts the result to a float.
    df_clean[ratings_col] = df_clean[ratings_col].astype(str).str.split(' ').str[0]
    df_clean[ratings_col] = pd.to_numeric(df_clean[ratings_col], errors='coerce')
    
    # Ensure all ratings are within the 1.0–5.0 range.
    df_clean[ratings_col] = df_clean[ratings_col].clip(1.0, 5.0)
    
    print("Ratings standardized to a 1.0–5.0 scale.")

# ----------------------------------------
# Q4: Cities
# ----------------------------------------
# Assuming a column named 'City' exists. Adjust the column name.
city_col = 'City'

if city_col in df_clean.columns:
    # Create a mapping dictionary for variations of city names.
    city_mapping = {
        'Bangalore': 'Bengaluru',
        'Bangaluru': 'Bengaluru',
        'Mumbai(Bombay)': 'Mumbai'
    }
    
    # Use the .replace() method to apply the mapping.
    df_clean[city_col] = df_clean[city_col].replace(city_mapping)
    
    print("City names standardized.")

# ----------------------------------------
# Q5: Booleans
# ----------------------------------------
# Assuming a column named 'In Stock' with variations like 'Yes'/'No' or 1/0.
# Adjust the column name as needed.
bool_col = 'In Stock'

if bool_col in df_clean.columns:
    # Create a mapping for truthy and falsy values.
    bool_mapping = {
        'Yes': True, 'yes': True, 1: True,
        'No': False, 'no': False, 0: False
    }
    
    # Convert to boolean using the mapping.
    df_clean[bool_col] = df_clean[bool_col].map(bool_mapping)
    
    # Handle any values that couldn't be mapped, converting them to NaN.
    df_clean[bool_col] = df_clean[bool_col].fillna(pd.NA).astype('boolean')
    
    print("Boolean column converted to True/False.")
    
# ----------------------------------------
# Q6: Categories
# ----------------------------------------
# Assuming a column named 'Category' exists.
category_col = 'Category'

if category_col in df_clean.columns:
    # Standardize by converting to a consistent case (e.g., lower) and stripping whitespace.
    df_clean[category_col] = df_clean[category_col].astype(str).str.strip().str.lower()
    
    # Example mapping for known variations, add more as needed.
    category_mapping = {
        'mobile phone': 'mobile',
        'books and media': 'books',
        'electronics appliances': 'electronics'
    }
    df_clean[category_col] = df_clean[category_col].replace(category_mapping)
    
    print("Categories standardized.")

# ----------------------------------------
# Q7: Delivery Days
# ----------------------------------------
# Assuming a column named 'Delivery Time' exists with values like '2-4 days'.
# Adjust the column name as needed.
delivery_col = 'Delivery Time'

if delivery_col in df_clean.columns:
    # Extract numeric part, handling potential missing values
    df_clean[delivery_col] = df_clean[delivery_col].astype(str).str.extract(r'(\d+)').astype(float)
    
    # Remove unrealistic values, such as negative days.
    # Set to NaN or a logical value, then handle later.
    df_clean.loc[df_clean[delivery_col] < 0, delivery_col] = np.nan
    
    print("Delivery Days converted to numeric and unrealistic values removed.")

# ----------------------------------------
# Q8: Duplicates
# ----------------------------------------
# Identify and remove duplicate rows based on all columns.
duplicates_before = df_clean.duplicated().sum()
if duplicates_before > 0:
    df_clean.drop_duplicates(inplace=True)
    print(f"Removed {duplicates_before} duplicate rows.")

# ----------------------------------------
# Q9: Outliers
# ----------------------------------------
# Fix potential decimal errors in prices (e.g., 1500.00 appearing as 150000.00).
# This is a domain-specific task; this example assumes a common pattern.
if price_col in df_clean.columns:
    # Find outliers using the IQR method.
    Q1 = df_clean[price_col].quantile(0.25)
    Q3 = df_clean[price_col].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    
    # Cap outliers to prevent extreme values from skewing the data.
    df_clean[price_col] = np.where(
        df_clean[price_col] > upper_bound, upper_bound, df_clean[price_col]
    )
    df_clean[price_col] = np.where(
        df_clean[price_col] < lower_bound, lower_bound, df_clean[price_col]
    )
    
    print("Outliers in Price column handled (capped).")

# ----------------------------------------
# Q10: Payment Methods
# ----------------------------------------
# Assuming a column named 'Payment Method' exists.
payment_col = 'Payment Method'

if payment_col in df_clean.columns:
    # Standardize payment methods by converting to a consistent case and replacing variants.
    df_clean[payment_col] = df_clean[payment_col].astype(str).str.strip().str.lower()
    
    payment_mapping = {
        'cash on delivery': 'cod',
        'credit card': 'card',
        'debit card': 'card',
        'net banking': 'online',
        'upi payment': 'online'
    }
    
    df_clean[payment_col] = df_clean[payment_col].replace(payment_mapping)
    
    print("Payment Methods standardized.")

# --- Final check ---
print("\n--- Final DataFrame Info after Cleaning ---")
df_clean.info()
print("\n--- Final Cleaned DataFrame Head ---")
print(df_clean.head())

# --- Save the cleaned DataFrame to a new CSV file ---
output_filename = 'cleaned_amazon_india_2015_2025.csv'
df_clean.to_csv(output_filename, index=False)

print(f"\nCleaned data has been successfully saved to {output_filename}")
df.drop_duplicates()
df

--- Final DataFrame Info after Cleaning ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1127609 entries, 0 to 1127608
Data columns (total 34 columns):
 #   Column                  Non-Null Count    Dtype
---  ------                  --------------    -----
 0   transaction_id          1127609 non-null  object
 1   order_date              1127609 non-null  object
 2   customer_id             1127609 non-null  object
 3   product_id              1127609 non-null  object
 4   product_name            1127609 non-null  object
 5   category                1127609 non-null  object
 6   subcategory             1127609 non-null  object
 7   brand                   1127609 non-null  object
 8   original_price_inr      1127609 non-null  object
 9   discount_percent        1127609 non-null  float64
 10  discounted_price_inr    1127609 non-null  float64
 11  quantity                1127609 non-null  int64
 12  subtotal_inr            1127609 non-null  float64
 13  delivery_charges        1037408 non-null  float64
 14  final_amount_inr        1127609 non-null  float64
 15  customer_city           1127609 non-null  object
 16  customer_state          1127609 non-null  object
 17  customer_tier           1127609 non-null  object
 18  customer_spending_tier  1127609 non-null  object
 19  customer_age_group      992294 non-null   object
 20  payment_method          1127609 non-null  object
 21  delivery_days           1127609 non-null  object
 22  delivery_type           1127609 non-null  object
 23  is_prime_member         1127609 non-null  object
 24  is_festival_sale        1127609 non-null  object
 25  festival_name           349873 non-null   object
 26  customer_rating         785913 non-null   object
 27  return_status           1127609 non-null  object
 28  order_month             1127609 non-null  int64
 29  order_year              1127609 non-null  int64
 30  order_quarter           1127609 non-null  int64
 31  product_weight_kg       1127609 non-null  float64
 32  is_prime_eligible       1127609 non-null  object
 33  product_rating          1127609 non-null  float64
dtypes: float64(7), int64(4), object(23)
memory usage: 292.5+ MB

--- Final Cleaned DataFrame Head ---
      transaction_id  order_date         customer_id   product_id  \
0  TXN_2023_00063013  2023-07-23  CUST_2023_00018393  PROD_000454
1  TXN_2021_00064486  20-07-2021  CUST_2015_00002865  PROD_000579
2  TXN_2017_00065617  2017-11-16  CUST_2016_00004057  PROD_000295
3  TXN_2020_00054393  2020-05-04  CUST_2020_00014574  PROD_001654
4  TXN_2018_00071646  2018-10-09  CUST_2018_00006275  PROD_000095

                        product_name     category  subcategory      brand  \
0                Vivo Y95 64GB Black  Electronics  Smartphones       Vivo
1        Realme Realme 3 128GB Black  Electronics  Smartphones     Realme
2                  Vivo V7 32GB Blue  Electronics  Smartphones       Vivo
3  Alienware Pavilion 4GB RAM Silver  Electronics      Laptops  Alienware
4    Motorola Moto X Play 16GB White  Electronics  Smartphones   Motorola

  original_price_inr  discount_percent  ...  is_festival_sale  festival_name  \
0           27340.84             21.57  ...             False            NaN
1           32907.49              0.00  ...             False            NaN
2          47,052.18             21.91  ...             False            NaN
3          238725.44             59.60  ...              True    Summer Sale
4           25970.76              0.00  ...             False            NaN

   customer_rating  return_status  order_month order_year order_quarter  \
0              4.0      Delivered            7       2023             3
1              5/5      Delivered            7       2021             3
2              5.0      Delivered           11       2017             4
3        5.0 stars      Delivered            5       2020             2
4              4.0      Delivered           10       2018             4

  product_weight_kg is_prime_eligible product_rating
0              0.20              True            3.5
1              0.21             False            4.5
2              0.24              True            4.3
3              1.85               Yes            3.6
4              0.16             False            3.7

[5 rows x 34 columns]

Cleaned data has been successfully saved to cleaned_amazon_india_2015_2025.csv

,transaction_id,order_date,customer_id,product_id,product_name,category,subcategory,brand,original_price_inr,discount_percent,...,is_festival_sale,festival_name,customer_rating,return_status,order_month,order_year,order_quarter,product_weight_kg,is_prime_eligible,product_rating
0,TXN_2023_00063013,2023-07-23,CUST_2023_00018393,PROD_000454,Vivo Y95 64GB Black,Electronics,Smartphones,Vivo,27340.84,21.57,...,False,NaN,4.0,Delivered,7,2023,3,0.20,True,3.5
1,TXN_2021_00064486,20-07-2021,CUST_2015_00002865,PROD_000579,Realme Realme 3 128GB Black,Electronics,Smartphones,Realme,32907.49,0.00,...,False,NaN,5/5,Delivered,7,2021,3,0.21,False,4.5
2,TXN_2017_00065617,2017-11-16,CUST_2016_00004057,PROD_000295,Vivo V7 32GB Blue,Electronics,Smartphones,Vivo,"47,052.18",21.91,...,False,NaN,5.0,Delivered,11,2017,4,0.24,True,4.3
3,TXN_2020_00054393,2020-05-04,CUST_2020_00014574,PROD_001654,Alienware Pavilion 4GB RAM Silver,Electronics,Laptops,Alienware,238725.44,59.60,...,True,Summer Sale,5.0 stars,Delivered,5,2020,2,1.85,Yes,3.6
4,TXN_2018_00071646,2018-10-09,CUST_2018_00006275,PROD_000095,Motorola Moto X Play 16GB White,Electronics,Smartphones,Motorola,25970.76,0.00,...,False,NaN,4.0,Delivered,10,2018,4,0.16,False,3.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1127604,TXN_2018_00047331,2018-07-06,CUST_2017_00025689,PROD_000009,Apple iPhone 6 Plus 16GB Black,Electronics,Smartphones,Apple,134278.16,30.83,...,True,Back to School,5.0,Delivered,7,2018,3,0.17,True,3.6
1127605,TXN_2022_00065321,2022-07-23,CUST_2021_00026763,PROD_001732,OnePlus iPad 8GB RAM Silver,Electronics,Tablets,OnePlus,97578.76,0.00,...,False,NaN,4.5,Delivered,7,2022,3,0.58,True,4.6
1127606,TXN_2023_00057908,01-07-2023,CUST_2023_00031035,PROD_001572,ASUS Inspiron 8GB RAM Black,Electronics,Laptops,ASUS,105284.29,43.31,...,True,Back to School,4.0,Delivered,7,2023,3,1.37,True,4.2
1127607,TXN_2020_00035169,2020-04-12,CUST_2017_00005760,PROD_001582,ASUS Gaming 8GB RAM Silver,Electronics,Laptops,ASUS,"Rs 72,687",0.00,...,False,NaN,5.0,Delivered,4,2020,2,2.02,False,3.8
1127608,TXN_2022_00124835,2022-12-06,CUST_2022_00042212,PROD_001764,JBL Gaming Headset,Electronics,Audio,JBL,7092.55,0.00,...,False,NaN,5.0,Delivered,12,2022,4,0.71,True,3.3